.main{
  height: 100vh;
}
.appname{
  text-align: center;
}
.error{
  text-align: center;
}
.weather-display{
  text-align: center;
}
.location{
  display: inline-block;
}
.countryimage{
  display: inline-block;
  height: 4vh;
  width: 2vw;
  justify-content: center;
  align-items: center;
}
.cardinfo img{
  height: 10vh;
  width: 6vw;
}

@media screen and (max-width: 426px) {
  .form-group{
    margin-left: 15px;
    margin-right: 15px;
  }
  .countryimage{
    height: 6vh;
    width: 9vw;
  }
  .cardbody{
    margin-top: 10px;
    margin-bottom: 10px;
  }

  
  .cardinfo img{
    height: 12vh;
    width: 16vw;
  }


}